li{
    font-size:medium;
    color: darksalmon;
    text-align: left;
}
.ToHalfSide{
    text-align: left;
}
#Welc{
    color:darkseagreen;
    font-size:larger;
}
body{
    text-align:center;
}
#vid{
    width:1000;
    height:1000;
}
